{% if form %}
<div class="panel panel-defaut">
<div class="panel-heading">
<h4 class="panel-title">Enter your email to activate your account:</h4>
</div>
<div class="panel-body">
<form class="center-block" id="activate" role="form" method="post" action="/activate" style="width:75%">
    <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
	<div class="form-group">
		<label for="email">My email is...</label>
		<input class="form-control" type="email" form="activate" name="email" placeholder="example@fakemail.net" required>
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</div>
{% else %}
<div class="panel panel-default">
	<div class="panel-heading">
	<h4 class="panel-title">Thank you, {{name}}</h4></div>
	<div class="panel-body">We're all fired up and raring to go. Keep an eye on your inbox!</div>
</div>
{% endif %}