{% if form %}
<div class="panel panel-defaut">
<div class="panel-heading">
<h4 class="panel-title">Enter your email to delete your account:</h4>
</div>
<div class="panel-body">
<form class="center-block" id="delete" role="form" method="post" action="/delete" style="width:75%">
    <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
	<div class="form-group">
		<label for="email">My email is...</label>
		<input class="form-control" type="email" form="delete" name="email" placeholder="example@fakemail.net" required>
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</div>
{% else %}
<div class="panel panel-default">
	<div class="panel-heading">
	<h4 class="panel-title">Farewell, {{name}}.</h4></div>
	<div class="panel-body">You've deleted your account. The bot is no more, and never again shall you be emailed (by us).</div>
</div>
{% endif %}